.globalBanner{ width: 100%;min-width: 1210px; height: 920px; overflow: hidden;position: relative;}
.globalBanner img{ width: 1920px; position: absolute;left: 50%; top: 0;margin-left: -960px;}
.globalBanner .j-head{position: absolute;width: 544px; height: 191px; position: absolute;left: 50%;top: 50px;margin-left: -272px;background: url(@{res/images/j_title_bg.png}@) no-repeat;}
.globalBanner .j-head .title{padding-top: 30px;text-align: center;color: #fff;font-size: 48px;letter-spacing: 4px;}
.globalBanner .j-head .title .eng{font-size: 24px;line-height: 40px;}
.globalBanner .j-head .intro{ width: 350px;overflow: hidden;margin: 0 auto;position: relative;text-align: center;color: #fff;padding-top: 8px;}
.globalBanner .j-head .intro .line{width: 60px;height: 12px;height: 10px\0;line-height: 0;font-size: 0;border-bottom: 1px solid #fff;float: left;}
.globalBanner .j-head .intro .txt{float: left;padding: 0 16px;font-size: 18px;letter-spacing: 1px;}

/*商品分类*/
.searchCty{ width:100%; height: 34px;overflow: hidden;}
.searchCty .searchBox{float: left;}
.searchCty .search-btn{  display: block;width: 52px;height: 32px;line-height: 32px;text-align: center;float: left;background: #fff;}
.searchCty .search-btn i{ display: inline-block; vertical-align: middle;width: 22px; height: 20px;background: url(@{res/images/header_icon.png}@) 0 -59px;}
.searchCty input{float: left;width: 0px;height: 32px;line-height: 32px;border: none;}
.listCon {margin-top: -620px;position: relative;}
.listCon .l-wrap{ overflow: hidden;border: 1px solid #ededec;border-top: none;background: #fff;}
.listCon .l-wrap .l-menu{float: left;width: 244px;border-top: 1px solid #ededec;}
.listCon .l-wrap .l-menu .l-title{ padding: 24px 0 0 46px; font-size: 18px;color: #30315e;}
.listCon .l-wrap .l-menu .subMenu{ padding-top: 10px;}
.listCon .l-wrap .l-menu .subMenu li{ height: 35px;line-height: 35px;padding-left: 18px;margin-top: 5px;}
.listCon .l-wrap .l-menu .subMenu li:hover{background: #a4a4b0;}
.listCon .l-wrap .l-menu .subMenu li b{ color:#4d4e6a;font-size:14px;padding-left: 10px;vertical-align: middle; font-weight: normal;}
.listCon .l-wrap .l-menu .subMenu li:hover b{color: #fff;}
.listCon .l-wrap .l-menu .subMenu li s{ display: inline-block;width: 16px;height:20px;vertical-align: middle;background: url("@{res/images/header_icon.png}@") no-repeat;}
.listCon .l-wrap .l-menu .subMenu li .s1{background-position: 3px -29px;}
.listCon .l-wrap .l-menu .subMenu li .s3{background-position: -18px -28px;}
.listCon .l-wrap .l-menu .subMenu li .s2{background-position: -41px -25px;}
.listCon .l-wrap .l-menu .subMenu li .s4{background-position: -66px -24px;}
.listCon .l-wrap .l-menu .subMenu li .s5{height:24px;background-position: -137px -28px;}
.listCon .l-wrap .l-menu .subMenu li .s6{background-position: -88px -26px;}
.listCon .l-wrap .l-menu .subMenu li .s7{background-position: -112px -26px;}
.listCon .l-wrap .l-shops{float: left;}
.listCon .l-wrap .l-shops{}

.floorMain .mask-item{ overflow:hidden;width: 964px;}
.floorMain .mask-item>li{ width:240px; height: 344px;padding: 10px 0 6px; float:left;margin-right: 2px; overflow: hidden; }
.floorMain .mask-item .item-pic{ width: 200px;  height: 200px; overflow: hidden; text-align: center;margin: 0 auto;}
.floorMain .mask-item>li .item{ padding:12px 6px 0;}
.floorMain .mask-item .vender{ font-size:12px; color:#ccc; height:32px; padding: 0 10px; margin: 6px 0 0 8px;border-top: 1px solid #f5f5f5;}
.floorMain .mask-item .vender .v-contray{float: left;line-height:32px;}
.floorMain .mask-item .vender .v-contray img{ display:inline-block; vertical-align: middle;}
.floorMain .mask-item .vender .v-contray span{ padding-left:8px; display:inline-block;color: #8b8b8b;}
.floorMain .mask-item .vender .v-deal{ float: right; width: 56px; height: 27px; color: #727272;padding: 6px 0 0 10px;line-height: 12px;border-left: 1px solid #f5f5f5;}
.floorMain .mask-item .vender .v-deal b{display: block;color: #6f8195; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.floorMain .mask-item .item-details{ line-height:20px; overflow:hidden;padding: 0 18px;}
.floorMain .mask-item .item-name{ font-size:14px; color: #000; font-weight: bold; height:22px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height:22px; }
.floorMain .mask-item .item-intro{ color:#999; height:34px; line-height: 16px; overflow:hidden; word-break:break-all;}
.floorMain .mask-item .item-price span{ color:#89543a; font-size:18px; font-weight: bold; }
.floorMain .mask-item .item-price s{ font-size:14px; color:#a4a4a4; margin:5px 0px 0px 8px;}

.l-shops .mask-item>li{ border-left:1px solid #ededed;border-top:1px solid #ededed;margin-right: 0;}
.l-shops .mask-item .item-pic{width: 180px;height: 180px;padding: 20px 0 10px;}
.l-shops .mask-item>li.active{ box-shadow: inset 0 0 9px  rgba(0,0,0,0.07);}
.l-shops .mask-item>li .item{height: 110px;overflow: hidden;}
.l-shops .mask-item>li .item .scroll-box{position: relative;top: 0;}
.l-shops .mask-item .vender{ border-top: none;margin-top: 0;}
.l-shops .mask-item .btn-box{height: 30px;padding: 6px 10px 10px 18px;}
.l-shops .mask-item .btn-box a{display: block;width: 100%;height: 30px;line-height: 30px;text-align: center;font-size: 12px;color: #fff;background: #36386b;border-radius: 6px;}

.slide_banner{ width:100%; position:relative; overflow:hidden;}
.slide_banner .slide_adv{  overflow: hidden; list-style: none; }
.slide_banner .slide_adv li{ display:block; width:100%; height:360px; overflow:hidden; float: left;}
.l-shops .mask-item .f-flash{ width: 480px;height: 360px; padding: 0; overflow: hidden;position: relative;}
.l-shops .mask-item  ul li{height: 360px;}
.l-shops .mask-item  ul li a{ display:block; width:100%;height: 360px;}
.l-shops .mask-item .f-flash .dots{ position: absolute; left: 0; bottom:25px; width: 100%; text-align: center; z-index: 2; text-align: center;overflow: hidden}
.l-shops .mask-item .f-flash .dots li{display:inline-block; width: 22px;height: 3px;line-height: 3px;background: #2c2c2c;opacity: 0.48;filter: alpha(opacity=48);margin-right: 8px;cursor: pointer;border-radius: 0;text-indent: -9999px;}
.l-shops .mask-item .f-flash .dots li.active{opacity: 1;filter: alpha(opacity=100);}
.l-shops .mask-item .vf3 .dots li{background: #fff; opacity: 0.48;filter: alpha(opacity=48);}
.l-shops .mask-item .vf3 .dots li.active{opacity: 1;filter: alpha(opacity=100);}
/*end  楼层样式*/

.brand-list{padding-bottom: 50px;}
.brand-list .b-item{padding-bottom: 20px;}
.brand-list .title{height: 40px;padding-top: 15px;}
.brand-list .title i{display: inline-block;width: 7px;height:22px;background: #646579;float: left;margin-top: 6px;}
.brand-list .title span.chn{font-size: 24px;color: #4d4e6a;padding: 0 10px;float: left;}
.brand-list .title span.eng{display:inline-block;color: #aeafbc;font-size: 14px;float: left;padding-top: 13px;}
.brand-list .brand-box .b-img{height: 240px;overflow: hidden;}
.brand-list .brand-box .b-detail{height: 126px;border: 1px solid #ededed;border-top: none;overflow: hidden;padding-left: 64px;position: relative;}
.brand-list .brand-box .b-detail .b-logo{ float: left;padding-top: 17px;}
.brand-list .brand-box .b-detail .b-about{float:left;padding-left: 28px;}
.brand-list .brand-box .b-detail .b-about .b-name{padding-top: 34px;font-size: 24px;color: #646579;}
.brand-list .brand-box .b-detail .b-about .b-intro{padding-top: 4px;font-size: 16px;color: #6f6f6f;}
.brand-list .brand-box .b-detail .btn-all{display: block;width: 96px;height: 38px;line-height: 38px;text-align: center;color: #646579;font-size: 14px;border: 1px solid #cecece;border-radius: 4px;position: absolute;right: 60px;top: 46px;}

.brand-shop .floorMain{border: 1px solid #ededed;border-top: none;}
.brand-shop .floorMain .mask-item{ overflow:hidden;width: 1210px;}

